.sign-in-page {
    padding: 0 100px;
    display: flex;
    align-items: center;
}

.sign-in-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    justify-content: center;
    align-items: center;
}
