.card-kit {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.card-title {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    margin-top: 2px;
}
